<section>
  <div class="card w-text center p-3 mb-2 bg-secondary-subtle text-emphasis-secondary" style="width: 50rem;">
    <img src="\Users\User\Desktop\pfoto\istockphoto-1290040963-1024x1024.jpg" class="card-img-top" alt="Toyota -camry">
    <div class="card-body">
    <h3 class="card-title text-info bg-dark">{{make}}-{{model}}. ({{year}}). {{color}}.<br>
         {{#with price}}<p class="text-decoration-line-through">{{total}}$</p>{{/with}}
         <p class="text-danger"> Now with a discount :26999$</p>
    </h3><hr/>
    <p class="card-text text-end">
        <h5>Features:</h5> 
        {{#with features}}
        <ul>
            <li><h6><u>Interior:</u></h6></li>
                {{#with interior}}
                <ul>
                    <li><h6><u>Seats:</u></h6></li>
                    {{#with seats}}
                        <em>Material:</em> {{material}}<br>
                        <em>Color:</em> {{color}}<br>
                        <em>Heated:</em> {{#if heated includeZero=true}} (yes) {{/if}}<br>
                        <em>Ventilated:</em>{{#if ventilated includeZero=true}} (yes) {{/if}}
                    {{/with}}
                    <hr/>
                    <li><h6><u>Dashboard:</u></h6></li>
                    {{#with dashboard}}
                     <em>Material:</em> {{material}}<br>
                     <em>Color:</em> {{color}}<br>
                     <em>Display:</em>
                        {{#with display}}
                         <ul>
                            <li>type-{{type}}</li>
                            <li>size- {{size}}</li>
                            <li>resolution- {{resolution}}</li>
                            <li>touchscreen-{{#if touchscreen includeZero=true}} (yes) {{/if}}</li>
                         </ul>
                        {{/with}}
                    {{/with}}
                    <hr/>
                    <li><h6><u>Audio:</u></h6></li>
                     {{#with audio}}
                     <em>System:</em> {{system}}<br>
                     <em>Speakers:</em> {{speakers}}<br>
                     <em>Subwoofer:</em> {{#if subwoofer includeZero=true}} (yes) {{/if}}<br>
                     <em>Bluetooth:</em> {{#if bluetooth includeZero=true}} (yes) {{/if}}<br>
                     <em>USB:</em> {{#if USB includeZero=true}} (yes) {{/if}}
                     {{/with}}
                 </ul>
                {{/with}}
                <hr/>
            <li><h6><u>Exterior:</u></h6></li>
             {{#with exterior}}
              <ul>
                 <li><h6><u>Wheels:</u></h6></li>
                 {{#with wheels}}
                    <em>Size:</em> {{size}}<br>
                    <em>Type:</em> {{type}}<br>
                    <em>Color:</em> {{color}}
                 {{/with}}<hr/>
                 <li><h6><u>Headlights:</u></h6></li>
                 {{#with headlights}}
                    <em>Type:</em> {{type}}<br>
                    <em>Brightness:</em> {{brightness}}<br>
                    <em>Automatic:</em> {{#if automatic includeZero=true}} (yes) {{/if}}
                 {{/with}}<hr/>
                 <li><h6><u>Sunroof:</u></h6></li>
                 {{#with sunroof}}
                    <em>Type:</em> {{type}}<br>
                    <em>Size:</em> {{size}}<br>
                    <em>Automatic:</em> {{#if automatic includeZero=true}} (yes) {{/if}}
                 {{/with}}
              </ul>
             {{/with}}
             <hr/>
             <li><h6><u>Safety:</u></h6></li> 
              {{#with safety}}
              <em>Airbags:</em>
                {{#with airbags}}
                    <ul>
                     <em>Front:</em> {{front}}<br>
                     <em>Side:</em> {{side}}<br>
                     <em>Knee:</em> {{knee}}<br>
                     <em>Rear:</em> {{rear}}<br>
                    </ul>
                {{/with}}<hr/>
              <li><h6><u>Assistance:</u></h6></li> 
                 {{#with assistance}}
                    <em>blind_spot_monitoring:</em> {{#if blind_spot_monitoring includeZero=true}} (yes) {{/if}}<br>
                    <em>rear_cross_traffic_alert:</em> {{#if rear_cross_traffic_alert includeZero=true}} (yes) {{/if}}<br>
                    <em>lane_departure_warning:</em> {{#if lane_departure_warning includeZero=true}} (yes) {{/if}}<br>
                    <em>adaptive_cruise_control:</em> {{#if adaptive_cruise_control includeZero=true}} (yes) {{/if}}<br>
                    <em>collision_warning:</em> {{#if collision_warning includeZero=true}} (yes) {{/if}}
                 {{/with}}
            {{/with}}
     </ul>
    {{/with}}<hr/>
    <h5>Engine:</h5>
     {{#with engine}}
        <ul>
          <li>type-{{type}}</li>
          <li>displacement- {{displacement}}</li>
          <li>horsepower- {{horsepower}}</li>
          <li>torque- {{torque}}</li>
          <li>transmission- 
            {{#with transmission}}
             {{type}} g.{{gears}}
            {{/with}}</li>
        </ul> 
     {{/with}}<hr/>
     <h5>Eco:</h5>
     {{#with fuel_economy}}
     <ul>
        <li>city-{{city}}</li>
        <li>highway-{{highway}}</li>
        <li>combined-{{combined}}</li>
     </ul>
     {{/with}}<hr/>
     <h5>Price:</h5>
     {{#with price}}
     <ul>
        <li>base-{{base}}$</li>
        <li>destination-{{destination}}$</li>
        <li>options:
            {{#with options}}
             <ul>
             <li>navigation-{{navigation}}$</li>
             <li>moonroof-{{moonroof}}$</li>
             <li>premium_paint-{{premium_paint}}$</li>
             </ul>
            {{/with}}</li>
        </li>
        <li>total-{{total}}$</li>
     </ul>
     {{/with}}
    </p>
    <a href="#" class="btn btn-dark"><p class="text-danger"> Buy a discount :26999$</p></a>
   </div>
</div>        
</section>
