 {{#with address}}
       <form>
         <label for="street">Street:</label>
         <input id="street" placeholder="{{street}}" type="text">
         <br> <br>
         <label for="city">City:</label>
         <input id="city" placeholder="{{city}}" type="text">
         <br> <br>
         <label for="state">State:</label>
         <input id="state" placeholder="{{state}}" type="text">
         <br> <br>
         <label for="zip">ZIP:</label>
         <input id="zip" placeholder="{{zip}}" type="text">
         <br> <br>
         <label for="country">Country:</label>
         <input id="country" placeholder="{{country}}" type="text">   
        </form>
{{/with}}