<div class="table-responsive">
    {{#each itemList}}
    <table class="table table-borderless table align-middle">
      <tbody>
          <tr>
            <td><p>{{number}}</p><b>{{status}}</b></td>
            {{#with amount}}
             <td><p>{{title}}</p><b>{{value}}</b></td>
            {{/with}}
             <td><img src="{{images}}" class="object-fit-sm-scale border rounded" alt="..."></td>
             {{#with button}}
             <td><a href="https://www.youtube.com/" class="btn btn-primary mb-1 md-4">{{text}}</a></td>
             {{/with}}
          </tr>         
      </tbody><hr/>
    </table>
    {{/each}}
</div>